ROOT_DIR='example'
DB_TYPE='mysql OR postgresql'
DB_HOST='localhost or another'
DB_PORT='for mysql 3306, for postgresql 5432 or another'
DB_PASSWORD='example'
DB_USERNAME='example'
DB_NAME='example'
FTP_HOST='000.000.000.000'
FTP_LOGIN='example'
FTP_PASSWORD='example'
FTP_ROOT='example'
MAX_STORAGE_TIME=2592000 # 30 days
